/* botao */


.botao-neutro {
  padding: 16px 32px;
  background: linear-gradient(#2e2e2e, #111111);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #cccccc;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  font-family: "Poppins";
}

.botao-neutro:hover {
  background: var(--cor-neutra-9);
}

.botao {
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
  font-family: "Poppins";
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao{
    padding: 12px 16px;
    font-size:1rem;
  }
  .botao-neutro{
    padding: 12px 16px;
    font-size:1rem;
  }
}

@media (max-width: 400px) {
  .botao{
    padding: 8px 12px;
    font-size:0.8rem;
  }
  .botao-neutro{
    padding: 8px 12px;
    font-size:0.8rem;
  }
}