.footer-bg {
  background-color: var(--cor-neutra-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer-item h3 {
  padding-bottom: 32px;
}

.footer-item li {
  position: relative;
  padding-bottom: 8px;
}

.separador::after {
  content: "";
  display: block;
  height: 2px;
  max-width: 75%;
  background-color: var(--cor-neutra-11);
  margin-top: 16px;
  margin-bottom: 16px;
}

.icones-rede-footer {
  display: flex;
  gap: 32px;
  padding-bottom: 80px;
}

.footer-direitos {
  grid-column: 1/ -1;
}

/* Responsivo */

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;

  }
  .separador::after {
    max-width: 50%;
  }
.footer-direitos {
  padding-top: 32px;
}
.icones-rede-footer {
  padding-bottom: 40px;
}
}