.footer-bg {
  background-color: var(--cor-neutra-12);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer-item h3 {
  padding-bottom: 32px;
}

.footer-item li {
  position: relative;
  padding-bottom: 8px;
}

.separador:nth-child(2),
.separador:nth-child(4) {
  padding-bottom: 40px;
}

.separador::before {
  content: "";
  display: block;
  height: 2px;
  width: 300px;
  background-color: var(--cor-neutra-11);
  position: absolute;
  top: 40px;
}

.icones-rede-footer{
  display: flex;
  gap: 32px;
  padding-bottom: 80px;
}
