.bicicleta-bg {
  background-color: var(--cor-neutra-11);
}

#bicicleta .titulo span {
  text-transform: uppercase;
}

#bicicleta .bicicleta-acao a {
  padding: 16px 32px;
  font-size: 1.125rem;
}

.bicicleta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-img img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-img img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  padding-bottom: 60px;
}

.bicicleta-conteudo-principal p {
  margin-bottom: 32px;
}

.bicicleta-acao {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px 12px;
  align-items: center;
  justify-items: start;
}

.bicicleta-acao a {
  grid-row: span 2;
}

.bicicleta-acao span {
  display: flex;
  gap: 8px;
  background-color: var(--cor-neutra-12);
  padding: 4px;
  border-radius: 4px;
  align-items: center;
  justify-items: start;
}

.subtitulo-bicicleta {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  padding-top: 40px;
  padding-bottom: 12px;
}

.bicicleta-informacoes {
  background-color: var(--cor-neutra-12);
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  gap: 32px;
}

.bicicleta-informacoes img {
  margin-bottom: 4px;
}

.bicicleta-ficha {
  background-color: var(--cor-neutra-12);
  padding: 32px;
  border-radius: 4px;
  gap: 32px;
}

.bicicleta-ficha li {
  padding: 4px 0;
  display: flex;
  place-content: space-between;
  border-bottom: 1px solid var(--cor-neutra-11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cor-neutra-6);
}

/* Responsivo */

@media (max-width: 800px) {
  .bicicleta-conteudo-principal {
    grid-template-columns: 1fr;
  }
  .bicicleta-img {
    grid-row: 2;
  }
  #bicicleta .escolha-conteudo h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
}

@media (max-width: 420px) {
  .bicicleta-acao {
    grid-template-columns: 1fr;
  }
}
