.introducao-bg {
  background-color: var(--cor-neutra-12);
  color: var( --cor-neutra-0);
  box-shadow: inset 0 -120px var(--cor-neutra-0);
  position: relative;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 220px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao h1 span {
  color: var(--cor-principal-1);
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Responsivo */

@media (max-width: 800px) {
  .introducao-bg{
    background-color: var(--cor-neutra-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-neutra-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao img{
    height: 300px;
    width: 100%;
  }
}

/* Responsivo */

@media (max-width: 500px) {
.introducao h1{
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
}
.introducao p{
  font-size: 1.125rem;
  line-height: 1.33;
}
}
