.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros img {
  margin: auto;
}

.parceiros li {
  padding: 32px;
  border-left: 2px solid var(--cor-neutra-2);
}

.parceiros li:first-child,
.parceiro li:nth-child(5) {
  border: initial;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-neutra-2);
}

/* Responsivo */

@media (max-width: 800px) {
  .parceiros ul {
    grid-template-columns: 1fr 1fr;
  }
  .parceiros li {
    padding: 32px;
  }
  .parceiros li:nth-child(3),
  .parceiro li:nth-child(7) {
    border-left: initial;
  }
  .parceiros li:nth-child(3),
  .parceiros li:nth-child(4) {
    border-top: 2px solid var(--cor-neutra-2);
  }
  .parceiros {
    padding-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .parceiros h2 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
  }
  .parceiros {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
