.vantagens-bg{
  background-color: var(--cor-neutra-12) ;
}

.vantagens{
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2{
  margin-bottom: 60px;
}

.vantagens ul img{
  margin-bottom: 8px;
}

.vantagens ul{
  display: grid;
  gap: 40px 80px;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
}

/* responsivo */

@media(max-width:800px){
  .vantagens{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.25;
  }
}